<div class="container">
    <div class="row">
      <div class="create-group-container">
        <form class="post-form" [formGroup]="createGroupForm" (ngSubmit)="createGroup()">
          <div class="form-group">
            <div class="create-group-heading">Create Group</div>
            <hr />
            <input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px"
              placeholder="Group Name">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
            <div style="margin-top: 10px;">
              <label for="pdfFile" class="form-label">PDF File (Optional)</label>
              <input 
                type="file" 
                class="form-control" 
                id="pdfFile" 
                accept=".pdf"
                (change)="onFileSelected($event)">
            </div>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateGroup">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
