<div class="container">
  <div>
    <button *ngIf="id == loggedId" (click)="editUser(id)">Edit</button>
  </div>
  <div>
    User <b>{{name}}</b>.<br /> Posted <b>{{postLength}}</b> time(s) and commented
    <b>{{commentLength}}</b> time(s).
    Check the history below
  </div>
  <hr />
  <button (click)="showReport()">Report</button>
    <div>
      <app-create-report *ngIf="showReporter" [user]="user"></app-create-report>
    </div>
  <div>
    Your Posts:
  </div>
  <app-post-overview [posts]="posts"></app-post-overview>
  <hr />
  <div>
    Your Comments:
  </div>
  <app-view-comment [comments]="comments"></app-view-comment>
</div>
