<div class="container">
  <div>
    <button type="button" class="custom-button" *ngIf="id == loggedId" (click)="editUser(id)">Edit</button>
    <button *ngIf="loggedId != id" type="button" class="custom-button" (click)="showReport()">Report</button>
    <button *ngIf="loggedId == 1" type="button" class="custom-button" (click)="blockUser(id)">Block</button>
    <button *ngIf="loggedId != id" type="button" class="custom-button" (click)="addFriend()">Add Friend</button>
  </div>
  <!-- <table *ngIf="id == loggedId"></table> -->
  
  <div class="container">
    <div class="text-center">
      <p *ngIf="image" class="text-bold">Picture:</p>
      <img *ngIf="image" [src]="image" alt="User Image" class="user-image">
      <p *ngIf="newUsername" class="text-bold">Username: {{ newUsername }}</p>
      <p *ngIf="description" class="text-bold">Description: {{ description }}</p>
      <br>
      <p>Posted <strong>{{ postLength }}</strong> time(s) and commented <strong>{{ commentLength }}</strong> time(s).</p>
      <p>Check the history below.</p>
    </div>
  </div>
  
  <hr />
  
    <div>
      <app-create-report *ngIf="showReporter" [user]="user"></app-create-report>
    </div>
  <div>
    Posts:
  </div>
  <app-post-overview [posts]="posts"></app-post-overview>
  <hr />
  <div>
    Comments:
  </div>
  <app-view-comment [comments]="comments"></app-view-comment>

  <br><br>
  <table *ngIf="id == loggedId">
    <caption>Friend Request</caption>
    <thead>
      <tr>
        <th>Approved</th>
        <th>Request Date</th>
        <th>Response Date</th>
        <th>Request From ID</th>
        <th>Request For ID</th>
        <th>Accept</th>
        <th>Decline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of friendRequests">
        <td>{{ request.approved }}</td>
        <td>{{ request.requestDate }}</td>
        <td>{{ request.responseDate }}</td>
        <td >
          <button type="button" class="custom-button" (click)="openProfile(request.requestFromId)">{{ request.requestFromId }}</button>
        </td>
        <td>{{ request.requestForId }}</td>
        <td>
          <button type="button" class="custom-button" (click)="acceptRequest(request.id)">Accept</button>
        </td>
        <td>
          <button type="button" class="custom-button" (click)="declineRequest(request.id)">Decline</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
