<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row post">
          <div class="col-md-1">
            <app-reaction-button [post]="post"></app-reaction-button>
          </div>
          <div class="col-md-11">
            <span>
              <span class="subreddit-text"><a class="post-url" routerLink="/">{{group.name}}</a></span>
              <span> . Posted
                by              
                <a class="username" href="">{{user.username}}</a>
                <button *ngIf="post.userId === loggedUserId" (click)="selectPost()">Edit</button>
                <button *ngIf="post.userId === loggedUserId" (click)="deletePost()">Delete</button>
              </span>
            </span>
            <hr />
            <!-- <a routerLink="post.url" class="post-title">{{post.postName}}</a> -->
            <div>
              <p class="post-text" [innerHtml]="post.content"></p>
            </div>
            <div class="post-comment">
              <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                <div class="form-group">
                  <textarea class="form-control" [formControlName]="'text'" placeholder="Leave a comment"></textarea>
                </div>
                <button type="submit" class="login float-right">Comment</button>
              </form>
            </div>
            <div style="margin-top: 60px;" *ngFor="let comment of comments">
              <div class="comment">
                <div class="username">
                  <a routerLink="/user/comment.username">{{comment.userId}}</a>
                </div>
                <!-- <div>
                  <p>{{comment.duration}}</p>
                </div> -->
                <b>{{comment.text}}</b>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-sidebar></app-sidebar>
        <app-group-sidebar></app-group-sidebar>
      </div>
    </div>
  </div>
  