<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row post">
          <div class="col-md-1">
            <app-reaction-button [post]="post"></app-reaction-button>
          </div>
          <div class="col-md-11">
            <span>
              <span class="subreddit-text"><a class="post-url" routerLink="/">{{group.name}}</a></span>
              <span> . Posted
                by              
                <a class="username" href="">{{user.username}}</a>
                <button type="button" class="custom-button" *ngIf="post.userId === loggedUserId" (click)="selectPost()">Edit</button>
                <button type="button" class="custom-button" *ngIf="post.userId === loggedUserId" (click)="deletePost()">Delete</button>
                <button type="button" class="custom-button" (click)="showReport()">Report</button>
              </span>
              <div>
                <app-create-report *ngIf="showReporter" [post]="post"></app-create-report>
              </div>
            </span>
            <hr />
            <div class="post-title">
              <h3>{{post.title}}</h3>
            </div>
            <div>
              <p class="post-text" [innerHtml]="post.content"></p>
            </div>
            <div class="image-gallery">
              <img *ngFor="let image of images" [src]="image.path" class="gallery-image">
            </div>            
            <br>
            <div class="post-comment">
              <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                <div class="form-group">
                  <textarea class="form-control" [formControlName]="'text'" placeholder="Leave a comment"></textarea>
                </div>
                <br>
                <button type="submit" class="login float-right">Comment</button>
              </form>
            </div>
            <br>
            <div class="d-flex justify-content-start">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="descOption" (change)="getCommentsForPostDesc()">
                <label class="form-check-label" for="descOption">Date Desc</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="ascOption" (change)="getCommentsForPost()">
                <label class="form-check-label" for="ascOption">Date Asc</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="descOption" (change)="getCommentsLikesDesc()">
                <label class="form-check-label" for="descOption">Likes Desc</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="ascOption" (change)="getCommentsLikesAsc()">
                <label class="form-check-label" for="ascOption">Likes Asc</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="descOption" (change)="getCommentsDislikesDesc()">
                <label class="form-check-label" for="descOption">Dislikes Desc</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="ascOption" (change)="getCommentsDislikesAsc()">
                <label class="form-check-label" for="ascOption">Dislikes Asc</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="descOption" (change)="getCommentsHeartDesc()">
                <label class="form-check-label" for="descOption">Heart Desc</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sortOption" id="ascOption" (change)="getCommentsHeartAsc()">
                <label class="form-check-label" for="ascOption">Heart Asc</label>
              </div>
            </div>
            <br>
            <app-view-comment [comments]="comments"></app-view-comment>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-sidebar></app-sidebar>
        <app-group-sidebar></app-group-sidebar>
      </div>
    </div>
  </div>
  