<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row post">
          <div class="col-md-1">
            <app-reaction-button [post]="post"></app-reaction-button>
          </div>
          <div class="col-md-11">
            <span>
              <span class="subreddit-text"><a class="post-url" routerLink="/">{{group.name}}</a></span>
              <span> . Posted
                by              
                <a class="username" href="">{{user.username}}</a>
                <button *ngIf="post.userId === loggedUserId" (click)="selectPost()">Edit</button>
                <button *ngIf="post.userId === loggedUserId" (click)="deletePost()">Delete</button>
                <button (click)="showReport()">Report</button>
              </span>
              <div>
                <app-create-report *ngIf="showReporter" [post]="post"></app-create-report>
              </div>
            </span>
            <hr />
            <!-- <a routerLink="post.url" class="post-title">{{post.postName}}</a> -->
            <div>
              <p class="post-text" [innerHtml]="post.content"></p>
            </div>
            <div class="post-comment">
              <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                <div class="form-group">
                  <textarea class="form-control" [formControlName]="'text'" placeholder="Leave a comment"></textarea>
                </div>
                <br>
                <button type="submit" class="login float-right">Comment</button>
              </form>
            </div>
            <br>
            <app-view-comment [comments]="comments"></app-view-comment>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-sidebar></app-sidebar>
        <app-group-sidebar></app-group-sidebar>
      </div>
    </div>
  </div>
  