<div *ngFor="let comment of comments">
  <div class="comment">
    <div class="reaction-buttons">
      <app-reaction-button></app-reaction-button>
    </div>
    <div class="username">
      <a routerLink="/user/comment.username">{{comment.userId}}</a>
    </div>
    <div class="comment-text">
      <b>{{comment.text}}</b>
    </div>
    <div>
      <button *ngIf="comment.userId === loggedUserId" (click)="editComment(comment.id)">Edit</button>
      <button *ngIf="comment.userId === loggedUserId" (click)="deleteComment(comment.id)">Delete</button>
    </div>
  </div>
  <hr/>
</div>
