<div *ngFor="let comment of comments">
  <div class="comment">
    <div class="reaction-buttons">
      <app-reaction-button [comment]="comment"></app-reaction-button>
    </div>
    <div class="username">
      <a routerLink="/user/comment.username">{{comment.userId}}</a>
    </div>
    <br><br>
    <div class="comment-text">
      <b>{{comment.text}}</b>
    </div>
    <div>
      <button type="button" class="custom-button" *ngIf="comment.userId === loggedUserId" (click)="editComment(comment.id)">Edit</button>
      <button type="button" class="custom-button" *ngIf="comment.userId === loggedUserId" (click)="deleteComment(comment.id)">Delete</button>
    </div>
    <button type="button" class="custom-button" (click)="showReport()">Report</button>
    <div>
      <app-create-report *ngIf="showReporter" [comment]="comment"></app-create-report>
    </div>
    <div>
      <form [formGroup]="commentForm" (ngSubmit)="postComment(comment.id)">
        <div class="form-group">
          <textarea class="form-control" [formControlName]="'text'" placeholder="Leave a comment"></textarea>
        </div>
        <br>
        <button type="submit" class="login float-right">Comment</button>
      </form>
      <p (click)="getCommentChildren(comment.id)">See replies</p>
      <app-view-comment [comments]="commentChildren"></app-view-comment>
    </div>
  </div>
  <hr/>
  
</div>
