<div class="container">
    <div class="row">
      <div class="create-group-container">
        <form class="post-form" [formGroup]="editGroupForm" (ngSubmit)="editGroup()">
          <div class="form-group">
            <div class="create-group-heading">Edit Group</div>
            <hr />
            <input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px"
              placeholder="Group Name">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateGroup">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
