<table>
  <caption>Group Requests</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Approved</th>
      <th>Request Date</th>
      <th>Response Date</th>
      <th>Group ID</th>
      <th>User ID</th>
      <th>Accept</th>
      <th>Decline</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of groupRequests">
      <td>{{ request.id }}</td>
      <td>{{ request.approved }}</td>
      <td>{{ request.requestDate }}</td>
      <td>{{ request.responseDate }}</td>
      <td>{{ request.groupId }}</td>
      <td>{{ request.userId }}</td>
      <td>
        <button (click)="acceptRequest(request.id)">Accept</button>
      </td>
      <td>
        <button (click)="declineRequest(request.id)">Decline</button>
      </td>
    </tr>
  </tbody>
</table>

<br><br>
<table>
  <caption>Grup Members</caption>
  <caption></caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Approved</th>
      <th>Request Date</th>
      <th>Response Date</th>
      <th>Banned</th>
      <th>Group ID</th>
      <th>User ID</th>
      <th>Ban</th>
      <th>Unban</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of groupUsers">
      <td>{{ request.id }}</td>
      <td>{{ request.approved }}</td>
      <td>{{ request.requestDate }}</td>
      <td>{{ request.responseDate }}</td>
      <td>{{ request.isBanned }}</td>
      <td>{{ request.groupId }}</td>
      <td>{{ request.userId }}</td>
      <td>
        <button *ngIf="!request.isBanned" (click)="banUser(request.userId, request.groupId, request.id)">Ban</button>
      </td>
      <td>
        <button *ngIf="request.isBanned" (click)="banUser(request.userId, request.groupId, request.id)">Unban</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<table>
  <caption>Reports</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Report Reason</th>
      <th>Accepted</th>
      <th>By User ID</th>
      <th>Post ID</th>
      <th>Comment ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of reports">
      <td>{{ report.id }}</td>
      <td>{{ report.reportReason }}</td>
      <td>{{ report.isAccepted }}</td>
      <td>{{ report.byUserId }}</td>
      <td><a *ngIf="report.postId" (click)="openPost(report.postId, report.id)">{{ report.postId }}</a></td>
      <td><a *ngIf="report.commentId" (click)="openComment(report.commentId, report.id)">{{ report.commentId }}</a></td>
    </tr>
  </tbody>
</table>
  