input.ng-invalid.ng-touched {
    border: 1px solid red;
}
html{    
    padding: 0;
    height: 100%;  
  }
body{
    margin-top: 63px;
    height: 100%; 
}
.login,
.sign-up {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.custom-button {
  padding: 5px 10px;
  margin: 3px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
}

.custom-button:hover {
  background-color: #2980b9;
}

.custom-button:focus {
  outline: none;
}