<div class="container">
    <div class="row">
      <hr />
      <div class="create-post-container col-md-9">
        <form class="post-form" [formGroup]="editCommentForm" (ngSubmit)="editUser()">
          <div class="form-group">
            <div class="create-post-heading">Edit Comment</div>
            <hr />
            <input [formControlName]="'firstName'" >
            <input [formControlName]="'lastName'" >
            <input [formControlName]="'description'" >
            <input [formControlName]="'text'" >
            <input [formControlName]="'text'" >
            <span>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discardUser()" class="btnDiscard">Discard</button>
                <button class="btnCreatePost">Save</button>
              </div>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>